#avatar{
    position: absolute;
    top: 200px;
    left: 485px;
}

#hairReview{
    position: absolute;
    top: 259px;
    left: 586px;
}

#hatReview{
    position: absolute;
    top: 213px;
    left: 604px;
}

#pantsReview{
    position: absolute;
    top: 284px;
    left: 487px;
}

#shirtReview{
    position: absolute;
    top: 350px;
    left: 546px;
}

#shirtReview{
    position: absolute;
    top: 350px;
    left: 546px;
}

#shoesReview{
    position: absolute;
    top: 700px;
    left: 520px;
}

#dressReview{
    position: absolute;
    top: 362px;
    left: 530px;
}

#next{
    position: absolute;
    top: 75%;
    left: 3%;
}

#prev{
    position: absolute;
    top: 75%;
    right: 3%;
}
